@charset "UTF-8";
@import "reset.css";
@import "calendar_header.css";
@import "calendar_upperbox.css";
@import "calendar_table.css";
@import "calendar_modal.css";
@import "calendar_modal-change.css";
@font-face {
  src: url(../fonts/AppleSDGothicNeoR.ttf) format("truetype");
  font-family: "AppleSDGothicNeo";
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: AppleSDGothicNeo;
}
